<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section>
        <h1>Todo List</h1>
        <ul style="display: flex; flex-direction: column; row-gap: 1rem">
          {{range $index, $element := .Todos}}
          <li id="{{$index}}">{{$element.Name}} - {{$element.Description}}</li>
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              column-gap: 0.5rem;
            "
          >
            <form action="/todo-delete?id={{$element.Id}}" method="POST">
              <button type="submit" id="delete">Delete</button>
            </form>
            <form action="/todo?id={{$element.Id}}" method="POST">
              <button type="submit" id="view">View</button>
            </form>
            <form
              action="/todo-edit?id={{$element.Id}}&name={{$element.Name}}&desc={{$element.Description}}"
              method="POST"
            >
              <button type="submit" id="edit">Edit</button>
            </form>
          </div>
          {{end}}
        </ul>
      </section>
    </main>
  </body>
</html>
